
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>








<div  class="Sign_up">
        <div class="content">
            <h4 style="    text-align: center;    color: #26a69a !important;"><%= t('signup') %></h4>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field ">
                                <i class="material-icons prefix">person</i>
                                <%= f.email_field :email, autofocus: true, id: :icon_person  %>

                                <label for="icon_person"><%= t('email') %></label>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="input-field ">
                                <i class="material-icons prefix">person</i>
                                <%= f.text_field :name %>

                                <label for="icon_person"><%= t('ur_name') %></label>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="input-field ">
                                <i class="material-icons prefix">person</i>
                                <%= f.text_field :name_company  %>

                                <label for="icon_person"><%= t('company_name') %></label>
                            </div>
                        </div>

                        <div class="col s12">
                            <div class="input-field ">
                                <i class="material-icons prefix">person</i>
                                <%= f.text_field :name_manger_acc  %>

                                <label for="icon_person"><%= t('manger_name') %></label>
                            </div>
                        </div>

                        <div class="col s12">
                            <div class="input-field ">
                                <i class="material-icons prefix">person</i>
                                <%= f.text_field :workers  %>

                                <label for="icon_person"><%= t('workers_number') %></label>
                            </div>
                        </div>

                        <div class="col s12">
                            <div class="input-field ">
                                <i class="material-icons prefix">person</i>
                                <%= f.text_field :jobpostion %>

                                <label for="icon_person"><%= t('jobpostion') %></label>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="input-field ">
                                <i class="material-icons prefix">person</i>
                                <%= f.text_field :phone %>

                                <label for="icon_person"><%= t('phone') %></label>
                            </div>
                        </div>

                        <div class="col s12">
                          <div class="input-field">
                          <%= f.collection_select :gender_id, Gender.all, :id, :name,  :prompt => "Choose your Gender" %>

   <label>Gender Select</label>
 </div>

                           </div>

<div class="col s12">
  <div class="input-field">
  <!-- Switch -->
   <div class="switch">
     <label>
       Off
       <input type="checkbox">
       <span class="lever"></span>
       On
     </label>
   </div>
 </div>
 </div>





                        <div class="col s12">
                            <div class="input-field ">
                                <i class="material-icons prefix">person</i>
                                <%= f.text_field :activity  %>

                                <label for="icon_person"><%= t('activity') %></label>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="input-field ">
                                <i class="material-icons prefix">person</i>
                                <%= f.text_field :city  %>

                                <label for="icon_person"><%= t('city') %></label>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="input-field ">
                                <i class="material-icons prefix">lock</i>
                                <% if @minimum_password_length %>
                                <em style= "padding:50px;">(<%= @minimum_password_length %> <%= t('minimum_password_length') %>) </em>
                                <% end %><br />
                                <%= f.password_field :password, autocomplete: "off", id: :icon_lock  %>
                                <label for="icon_lock"><%= t('password') %></label>
                            </div>
                        </div>




                        <div class="col s12">
                            <div class="input-field ">
                                <i class="material-icons prefix">lock</i>
                                <%= f.password_field :password_confirmation, autocomplete: "off", id: :icon_lock %>

                                <label for="icon_lock"><%= t('password_confirmation') %></label>
                            </div>
                        </div>

                        <div class="col s12">
                            <div class="input-field ">
                              <%= f.submit t('signup') , class:"waves-effect waves-light btn "  %>      |            <%= render "devise/shared/links" %>

                            </div>
                        </div>

                    </div>


                </form>
            </div>
        </div>
    </div>



    <% end %>
