<% if current_user.productowner == true %>


<h1>Analytics</h1>



<table class="responsive-table">
  <thead>
    <tr>
      <th>Name company</th>
      <th> City</th>
     <th>  Size of companies ( number of workers) </th>
     <th> Job title of users </th>
     <th> The jobs requested to calculate its cost of turnover </th>
    </tr>
  </thead>

  <tbody>
    <% @turnovers.each do |turnover| %>
      <tr>
        <td><%= turnover.name_company %></td>
        <td><%= turnover.user_id.city %> </td>
        <td><%= turnover.user_id.workers %> </td>
        <td><%= turnover.position %></td>
        <td><%= turnover.turnover_ratio.to_i %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 <% else%>
<h1> Not Found ! </h1>
<% end %>
