<%= render 'logic', turnover: @turnover %>

<div class="row">
        <div class="col l12 s12 m12 logo">
          <%= link_to root_path do %>
<%= image_tag("Group-3.png" , class:"responsive-img") %>
<% end %>
        </div>
    </div>
    <div class="row result-body">
        <div class="container">
            <h3>Your result</h3>
            <div class="data col l12 m12 s12">
                <div class="col l6 m12 s12 result ">
                    <p class="head-title">Total direct costs</p>
                    <p class="data-val">   <%= (@turnover.agancey_cost + @turnover.ads_cost + @turnover.CostEads + @turnover.costhire + @turnover.costadmin + @turnover.costmagment + @turnover.costadapt +  @turnover.loscontract).round %>
 </p>
                    <span>EGP</span>
                    <p class="head-title">Total indirect costs</p>
                    <p class="data-val">  <%= @turnover.indirect_cost %>
 </p>
                    <span>EGP</span>
                    <p class="head-title">percentage of turnover</p>
                    <p class="data-val">    <%= @turnover.turnover_ratio.to_i %>
%</p> <br>
<%= link_to 'New turnover', new_turnover_path , class: "waves-effect waves-light btn get-started" %>

                </div>
            </div>
        </div>
    </div>




<%= @turnover.ads_cost ___   %> <br>

<%= link_to 'Edit', edit_turnover_path(@turnover) %> |
<%= link_to 'Back', turnovers_path %>
