<%= form_with(model: peal, local: true) do |form| %>
  <% if peal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(peal.errors.count, "error") %> prohibited this peal from being saved:</h2>

      <ul>
      <% peal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :peal_name %>
  </div>

  <div class="field">
    <%= form.label :Date %>
    <%= form.date_select :Date, id: :peal_Date %>
  </div>

  <div class="field">
    <%= form.label :point %>
    <%= form.number_field :point, id: :peal_point %>
  </div>

  <div class="field">
    <%= form.label :money %>
    <%= form.text_field :money, id: :peal_money %>
  </div>

  <div class="field">
    <%= form.label :desc %>
    <%= form.text_area :desc, id: :peal_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
