<p id="notice"><%= notice %></p>

<h1>Peals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Point</th>
      <th>Money</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @peals.each do |peal| %>
      <tr>
        <td><%= peal.name %></td>
        <td><%= peal.Date %></td>
        <td><%= peal.point %></td>
        <td><%= peal.money %></td>
        <td><%= peal.desc %></td>
        <td><%= link_to 'Show', peal %></td>
        <td><%= link_to 'Edit', edit_peal_path(peal) %></td>
        <td><%= link_to 'Destroy', peal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Peal', new_peal_path %>
