
	<div id="gtco-features">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2><%= t('turnover_features') %></h2>
					<p><%= t('features_detials') %></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="fa fa-shield"></i>
						</span>
						<h3><%= t('very_secure') %></h3>
						<p><%= t('secure_detials') %> </p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="fa fa-money"></i>
						</span>
						<h3><%= t('save_money') %></h3>
						<p><%= t('money_detials') %></p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="fa fa-cog"></i>
						</span>
						<h3><%= t('more_flexibility') %> </h3>
						<p><%= t('flexibility_detials') %>  </p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="fa fa-clock-o"></i>
						</span>
						<h3><%= t('save_time') %> </h3>
						<p><%= t('time_detials') %> </p>
					</div>
				</div>
			</div>
		</div>
	</div>
