<div class="gtco-loader"></div>

	<div id="page">
<%= render 'nav' %>
	<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(images/img_bg_1.jpg);">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					<div class="display-t">
						<div class="display-tc">
							<h1 class="animate-box" data-animate-effect="fadeInUp"><%= t('bref_home') %></h1>
							<!-- <h2 class="animate-box" data-animate-effect="fadeInUp">To see more detials Click <a href="#" target="_blank">Here</a></h2> -->
							<!-- <p class="animate-box" data-animate-effect="fadeInUp"><a href="#" class="btn btn-white btn-lg btn-outline">Get In Touch</a></p> -->
							<% if user_signed_in? %>

						   <%= link_to t('start_now'), new_turnover_path , class: "animate-box btn btn-white btn-lg btn-outline"  %>
               <% end %>

						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

<%= render 'features' %>

<%= render 'footer' %>



<!--


<div class="row ">
       <div class="container">
           <div class="col l12 s12 m12 nav">
               <div class="left col l6 m6 s12">
                   <a href="#">
                    <%= image_tag("logo.png", class: "menu_icon") %>

                   </a>
                   <p class="logoData"><%= t('name_app') %></p>
               </div>
               <div class="right col l6 m6 s12">
<ul>
                 <% if user_signed_in? %>
                 <li>
                   <%= link_to t('logout'), destroy_user_session_path,class: "waves-effect waves-light btn modal-trigger" , method: :delete %>
                </li>
                 <% else %>
                 <li>
                 <%= link_to t('signup'), new_user_registration_path , class: "waves-effect waves-light btn modal-trigger" %>
               </li>

<li>
 <%= link_to t('login'), new_user_session_path , class: "waves-effect waves-light btn modal-trigger" %>
</li>



 <% end %>
 <% if I18n.locale == I18n.default_locale %>
 <li>
   <%= link_to "عربي", '/ar', class: "waves-effect waves-light btn modal-trigger" %>
 </li>
 <% else %>
 <li>
   <%= link_to "English", '/en', class: "waves-effect waves-light btn modal-trigger" %>

 </li>
 <%end%>
</ul>
               </div>
           </div>
       </div>
   </div>
   <!-- Modal Structure -->

   <!-- <div class="row">
       <div class="container">
           <div class="col s12">
             <%= image_tag("char1.png", class: "character") %>

               <h3 class="short-desc"><%= t('head_title_home') %></h3>
               <p class="details"><%= t('bref_home') %></p>
 <% if user_signed_in? %>
                <%= link_to 'Get started now', new_turnover_path , class: "waves-effect waves-light btn get-started" %>

 <% end %>


           </div>
       </div>
   </div>
   <div class="row partners">
       <div class="container">
           <div class="col l12 s12 m12">
               <a href="">
                 <%= image_tag("partners/partn1.png") %>

               </a>
               <a href="">
                 <%= image_tag("partners/partn2.png") %>
               </a>
               <a href="">
                 <%= image_tag("partners/partn3.png") %>
               </a>
               <a href="">
                 <%= image_tag("partners/partn4.png") %>
               </a>
           </div>
       </div>
   </div> -->
